.body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}

body::-webkit-scrollbar{
    display: none;
}

.my__container {
    width: 100%;
}

.dropdown {
    background-color: #1F1F27;
}

.Logo {
    width: 15%;
    margin-top: 3%;
    margin-left: 5%;
}

.my__dropdown {
    max-width: 100%; 
    height: 100vh;
}

.btn {
    color: #ffff;
    display: flex;
    margin: 0;
    height: 10%;
    font-size: 90%;

}

.btn:hover {
    color: #ffff;
    background-color: #30303A;
    border-color: #30303A;
}

.adapted__img {
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4%;
}

.adapted__txt {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    height: auto;
}

.my__pdn {
    margin-top: 35%;
}

.col-sm-4 {
    padding: 0;
}

.col-sm-8 {
    padding: 0;
}

.content {
    width: 100%;
    height: 100vh;
    background-color: #F5F3FE;
}

.settings {
    color: #000000;
    font-size: 40px;
}


.my-form-control {
    height: 15%;
    width: 8vw;
    padding: .375rem .75rem;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #5A5B62;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 3px solid #EDEDED;
    border-radius: .25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5%;
    margin-right: 3%;
}

.set__bg {
    border-radius: 1rem;
    background-color: #FFFFFF;
}

.my__btn1 {
    color: #9CA7B3;
    font-size: 25px;
    width: 38vw;
    margin-top: 6%;
    height: 10vh;
    margin-top: auto;
    margin-bottom: auto;
}

.my__btn1:hover {
    color: #9CA7B3;
    background-color: #F5F3FE;
}

.my__btn2 {
    color: #FFFFFF;
    background-color: #525FEF;
    font-size: 25px;
    width: 50vw;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 6%;
    padding-bottom: 10%;
    height: 10vh;
    border-radius: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.my__btn2:hover {
    background-color: #525FEF;
}

.buttons {
    display: flex;
}

.adapted__txt__new {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.btn__best {
    margin-top: 4%;
    width: 10vw;
}

.apps {
    margin-top: 1%;
}

.app__bar {
    display: flex;
    margin-bottom: 3%;
}

.adapted__img__new {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.my__btn__arr {
    color: #FFFFFF;
    background-color: #525FEF;
    font-size: 20px;
    width: 3.5vw;
    height: 20%;
    border-radius: 1rem;
}

.title {
    color: #000000;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 1%;
}

.stars {
    margin-top: 4%;
    margin-left: 5%;
    height: 9%;
}

.subtitle {
    color: #9CA7B3;
    margin-top: 5%;
    font-size: 18px;
}

.form-control {
    height: 10vh;
    width: 15vw;
    font-size: 20px;
    margin-top: 6%;
    margin-left: 8%;
    margin-top: auto;
    margin-bottom: auto;
}
