.body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}

body::-webkit-scrollbar{
    display: none;
}

.my__container {
    width: 100%;
}

.dropdown {
    background-color: #1F1F27;
}

.Logo {
    width: 35%;
    margin-top: 3%;
    margin-left: 5%;
}

.my__dropdown {
    max-width: 100%; 
    height: 100vh;
}

.btn {
    color: #ffff;
    display: flex;
    margin: 0;
    height: 10%;
    font-size: 90%;

}

.btn:hover {
    color: #ffff;
    background-color: #30303A;
    border-color: #30303A;
}

.adapted__img {
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4%;
}

.adapted__txt {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    height: auto;
}

.my__pdn {
    margin-top: 35%;
}

.col-sm-4 {
    padding: 0;
}

.col-sm-8 {
    padding: 0;
}

.h1_contacts{
    padding: 5%;
    color: #30303A;
    font-weight: bolder;
}

.none_button{
    border: none;
    background-color: transparent;
}

.h2_subtyle{
    padding: 0%;
    padding-left: 5%;
    color: #30303A;
}

