<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>InfinityStore</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/ApplicationSearch.css">
</head>
<body class="body my__container">
    <div class="row">
        <div class="col-sm-3">
        <div class="dropdown my__dropdown p-4">
            <img class="Logo" src="/assets/svg/Logo.svg" alt="Logo">
            <a class="btn btn-block my__pdn" href="ApplicationSearch.html">
                <img class="adapted__img" src="/assets/svg/Search.svg" alt="Search">
                <p class="adapted__txt">SEARCH</p>
            </a>
            <a class="btn btn-block" href="Import.html">
                <img class="adapted__img" src="/assets/svg/Import.svg" alt="Import">
                <p class="adapted__txt">IMPORT</p>
            </a>
            <a class="btn btn-block" href="Contacts.html">
                <img class="adapted__img" src="/assets/svg/Info.svg" alt="Contact">
                <p class="adapted__txt">CONTACT</p>
            </a>
        </div>
        </div>
        <div class="col-sm-9">
            <div class="content" style="overflow-y:scroll; height: 100vh;">
                <div class="settings" style="margin-left: 4%; padding-top: 4%; padding-right: 14%;">
                    <p>Settings</p>
                    <div class="set__bg shadow" style="padding-top: 2%; padding-bottom: 4%; padding-left: 4%;">
                        <select class="my-form-control">
                            <option>Part 1</option>
                            <option>Part 1</option>
                            <option>Part 1</option>
                            <option>Part 1</option>
                        </select>
    
                        <select class="my-form-control">
                            <option>Part Second 1</option>
                            <option>Part 1</option>
                            <option>Part 1</option>
                            <option>Part 1</option>
                        </select>
    
                        <select class="my-form-control">
                            <option>Part Second 1</option>
                            <option>Part 1</option>
                            <option>Part 1</option>
                            <option>Part 1</option>
                        </select>

                        <select class="my-form-control">
                            <option>Part 1</option>
                            <option>Part 1</option>
                            <option>Part 1</option>
                            <option>Part 1</option>
                        </select>
    
                        <select class="my-form-control">
                            <option>Part Second 1</option>
                            <option>Part 1</option>
                            <option>Part 1</option>
                            <option>Part 1</option>
                        </select>

                        <div class="buttons">
                            <a class="btn my__btn1" href="#CLEAR">
                                <p class="adapted__txt__new">Clear X</p>
                            </a>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Введите запрос">
                            <a class="btn my__btn2" href="#RESULTS">
                                <p class="adapted__txt__new">SHOW RESULTS</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div style="margin-left: 4%; padding-top: 4%; padding-right: 14%;">
                    <select class="my-form-control btn__best">
                        <option>Best</option>
                        <option>Best</option>
                        <option>Best</option>
                        <option>Best</option>
                    </select>
    
                    <div class="apps" style="overflow-y:scroll; height: 50vh; border-radius: 1rem;">
                        <div class="app__bar set__bg shadow">
                            <div style="display: flex; width: 292px;">
                                <img class="adapted__img__new" src="/assets/svg/PS.svg" alt="picture">
                                <p class="title">PS2020</p>
                                <img class="stars" src="/assets/svg/Stars.svg" alt="Stars">
                            </div>
                            <p class="subtitle">Design</p>
                        </div>

                        <div class="app__bar set__bg shadow">
                            <div style="display: flex; width: 292px;">
                                <img class="adapted__img__new" src="/assets/svg/3DSMAX.svg" alt="picture">
                                <p class="title">3DSMAX</p>
                                <img class="stars" src="/assets/svg/Stars.svg" alt="Stars">
                            </div>
                            <p class="subtitle">3D</p>
                        </div>

                        <div class="app__bar set__bg shadow">
                            <div style="display: flex; width: 292px;">
                                <img class="adapted__img__new" src="/assets/svg/Minecraft.svg" alt="picture">
                                <p class="title">Minecraft</p>
                                <img class="stars" src="/assets/svg/Stars.svg" alt="Stars">
                            </div>
                            <p class="subtitle">Game</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>